*{
    margin: 0 auto;
    padding: 0 auto;
}

#cuerpo{
    background-color: #e2c99f;
}

#cabezera{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #a39b7e;
}

#botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#botones button{
    margin-left: 100px;
    margin-right: 100px;
    background-color: #53576b;
    border-color: #53576b;
    color: #a39b7e;
    border-radius: 5px;
    font-size: 20px;
    font-style: bold;
}

#botones button:hover{
    background-color: #a39b7e;
    border-color: #a39b7e;
    color: #53576b;
}

th{
    text-align: center;
}

td{
    text-align: center;
    font-size: 20px;
}

#promedioTot{
    height: 30px;
    display: flex;
    align-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

label{
    font-size: 20px;
}